# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Build files
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# VSCode / PyCharm
.vscode/
.idea/

# MacOS / Windows
.DS_Store
Thumbs.db
